@import '~bootstrap/scss/bootstrap.scss';

@mixin equal-padding ($x) {
    padding: $x $x $x $x;
}

@mixin equal-margin ($x) {
    margin: $x $x $x $x;
}

$background: #e17055;
$container: #fab1a0;
$border-color: #d63031;
/* $font: 'Space Grotesk', sans-serif;
$font-area: 'Roboto Mono', monospace;
$page-title: 'Space Grotesk', sans-serif; */

body {
    background-color: $background;
}

#drum-machine {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    max-width: 40vw;
    max-height: auto;
    border: 1px solid $border-color;
    background: $container;

    .drum-pad-container {
        min-width: 65%;
        display: inline-block;

        .drum-pad {
            box-shadow: 2px 1px 4px black;
            height: 100px;
            width: 100px;
            @include equal-margin(10px)
        }
    }

    .display-container {
        border: 1px solid $border-color;
        min-width: 35%;
        background: $background;

        h4 {
            margin-top: 50%;
            text-align: center;
        }
        
    }
}

