@import '~bootstrap/scss/bootstrap.scss';

@mixin equal-padding ($x) {
    padding: $x $x $x $x;
}

@mixin equal-margin ($x) {
    margin: $x $x $x $x;
}

$background: #e17055;
$container: #fab1a0;
$border-color: #d63031;
/* $font: 'Space Grotesk', sans-serif;
$font-area: 'Roboto Mono', monospace;
$page-title: 'Space Grotesk', sans-serif; */

body {
    background-color: $background;
}

#drum-machine {
    display: flex;
    margin-top: 15%;
    width: 35vw;
    max-height: auto;
    border: 1px solid $border-color;
    background: $container;

    .drum-pad-container {
        display: grid;
        width: fit-content;
        margin-right: 25px;
        grid-template-columns: 100px 100px 100px;
        

        .drum-pad {
            height: 90px;
            width: 90px;
            box-shadow: 2px 1px 4px black;
            @include equal-margin(10px)
        }
    }

    .display-container {
        border: 1px solid $border-color;
        width: 60%;
        background: $background;

        h4 {
            margin-top: 50%;
            text-align: center;
        }
        
    }
}

